.nav-logo{
    width: 200px;
}

.btn-box-gold{
    border: 2px solid #cdba6d;
    padding: 10px;
}
.nav-bar-body{
    background-color: #323a43;
    width: 100%;
}

.navbar-link{
    color: white;
    font-weight: bold;
}

.nav-menu-dropdown {
    display: inline-flex;
    width: 100%;
    background-color: #323a43;
    transition: transform 1s ease;
}


@media screen and (max-width:500px)
{
    
    
    .nav-menu-dropdown{
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        z-index: 2000;
        text-align: center;
        transform: translateX(-100vw);
        /* display: none; */
    }

}