.space-20{
  width: 100%;
  height: 20px;
}

.space-50{
  width: 100%;
  height: 50px;
}

.space-100{
  width: 100%;
  height: 100px;
}

.old-font{
  font-family: serif;
}

.text-gold{
  color: #cdba6d;
}

.bg-gold{
  background-color: #cdba6d;
}
.box-btn{
  border: 2px solid white;
  max-width: 200px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.box-btn-dark{
  border: 2px solid #323a43;
  max-width: 200px;
  text-align: center;
  font-weight: bold;
  color: #323a43;
  padding: 10px;
}

.img-shadow{
  box-shadow: 10px 10px 10px rgba(63, 63, 63, 0.201);
}
/* ========================= */
.mobile-yes-display{
  display: none;
}

@media screen and (max-width:500px)
{
  .mobile-no-display{
    display: none;
  }
  .mobile-yes-display{
    display: block;
  }

}